<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div id="app">
    <div class="container">

            <div class="row">
                <div class="col-md-4">
                        <h1>Variable</h1>
                        <p>${ message }</p>
                        <p>nom: ${ nom }</p>
                        <p>prenom: ${ prenom }</p>
                            
                </div>
                <div class="col-md-5">
                        <h1>condition</h1>
                        <div v-if="primary" class="alert alert-primary" role="alert">
                                A simple primary alert—check it out!
                                </div>
                                <div v-if="secondary" class="alert alert-secondary" role="alert">
                                A simple secondary alert—check it out!
                                </div>
                                <div v-if="success" class="alert alert-success" role="alert">
                                A simple success alert—check it out!
                                </div>
                                <div v-if="danger" class="alert alert-danger" role="alert">
                                A simple danger alert—check it out!
                                </div>
                                <button type="button"  v-on:click ="affprima" class="btn btn-primary">Primary</button>
                                <button type="button" v-on:click ="affsecondary" class="btn btn-secondary">Secondary</button>
                                <button type="button" v-on:click ="affsuccess" class="btn btn-success">Success</button>
                                <button type="button" v-on:click ="affdanger" class="btn btn-danger">Danger</button>
                                <hr>
                                <button type="button" v-on:click ="affwarning" class="btn btn-warning">Warning</button>
                                <button type="button" v-on:click ="affinfo" class="btn btn-info">Info</button>
                                <hr>
                            
                </div>
                <div class="col-md-3">
                        <div class="form-group">
                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea v-model="tchat_message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    <p>${ tchat_message }</p>
                            
                </div>
            </div>
            
                <div class="row">
                    <div class="col-md-6">
                            <h1>HTML VIEWS</h1>
                            <div class="alert alert-warning" role="alert">
                                    <div class="card">
                                        <div v-html= "text_editor" class="card-body">
                                            
                                        </div>
                                </div>
                            </div>

                    </div>
                    <div class="col-md-6">
                            <h1>EDITOR</h1>
                        <div class="alert alert-primary" role="alert">
                            <div class="card">
                                
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Example textarea</label>
                                        <textarea v-model= "text_editor" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>        
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="text-danger">FOR LOOP</h1>
                            <ol>
                                    <li v-for="todo in todos">
                                    ${ todo.text }
                                    </li>
                                </ol>
                    </div>
                </div>
                <div class="row ">
                    
                        <div v-for="" class="col-md-4">
                            <div class="alert alert-primary" role="alert">
                                <div class="card">
                                    <div v-if="data_is_laod" class="row ">
                                            <div class="card-body">
                                                <p><b>nom:</b>${item.name}</p>
                                                <p><b>prenom:</b>${item.username}</p>
                                                <p><b>email:</b><a href="item.email">${item.email}</a></p>
                                                <p><b>phone:</b><a href="item.phone">${item.phone}</a></p>
                                                <p><b>site web:</b><a href="http://nan.ci">${item.username}</a></p>
                                            </div>
                                    </div>
                                </div>
                                    
                            </div>
                        </div>
                        
                        

                    </div>
                </div>
            
    </div>
</div>
        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script> 
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    nom:'nan',
                    prenom: '2019',
                    nan_url:'http://nan.ci',
                    imag_url:'https://cdn.pixabay.com/photo/2018/04/03/23/29/wordpress-3288420_1280.png',
                    primary:false,
                    danger:false,
                    success:false,
                    secondary:false,
                    tchat_message:'salut',
                    text_editor: '<p>salut</p>',
                    todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                    (property) dataapi:indefined,
                    ],
                    
                    dataapi: [
                    
                    ],
                },
                delimiters:["${","}"], 
                mounted(){
                    this.onload();
                }
                methods:{
                    affprima: function(){
                        this.primary=true;
                        this.secondary=false;
                        this.success=false;
                        this.danger=false;
                    },
                
                    affsecondary: function(){
                        this.primary=false;
                        this.secondary=true;
                        this.success=false;
                        this.danger=false;
                    },
                
                    affsuccess: function(){
                        this.primary=false;
                        this.secondary=false;
                        this.success=true;
                        this.danger=false;
                    },
                
                    affdanger: function(){
                        this.primary=false;
                        this.secondary=false;
                        this.success=false;
                        this.danger=true;
                    },
                affwarning: function(){
                    this.primary=false;
                    this.secondary=false;
                    this.success=false;
                    this.danger=false;
                },
                affinfo: function(){
                    this.primary=true;
                    this.secondary=true;
                    this.success=true;
                    this.danger=true;
                },
                onload() {

                    //axios.defaults.xsrfCookieName = 'csrftoken'
                    //axios.defaults.xsrfHeaderName = 'X-CSRFToken'


                    axios.get('https://jsonplaceholder.typicode.com/users')
                        .then(response => {
                            console.log(response.data),
                            this.dataapi=response.data,
                            this.data_is_laod=true,


                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
            }
                
            })
            

    </script>

</body>
</html>